body{
    display: flex;
    justify-content: space-between;
    background-image: url("airplanelanding.jpg");
    margin: 0vw 0vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


#parameters {
    background-color: rgba(221, 221, 221, 0.75);
    margin-left: 1vh;
    padding-right: 2.5vw;
    padding-left: 1vw;
}

#established-values {
    background-color: rgba(221, 221, 221, 0.75);
    margin-right: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
    
} 

h1{
    font-size: 26px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 12px;
}